<h1>Your conversations</h1>
<br>

<a href='/messages/new' class='newMessage'>Send new message</a>
<hr>
<br>
<% @conversations.each do |key, value|%>
    <% read = true  %>
    <% value.each do |m| %>
        <% if m.recipient_id == @current_user.id && m.read == false %>
        <% read = false %>
        <% end %>
    <% end %>
    <%if !read %>
        <a href='/messages/<%= key %>' class='conversationLink'>Conversation with <%= User.find(key).username %> <p class='notifyUnread'>contains new messages</p></a>
    <% else %>
        <a href='/messages/<%= key %>' class='conversationLink'>Conversation with <%= User.find(key).username %>
    <% end%>
<% end%>