<h1>Insert the form to create a new instance of your model.</h1>
<form method='POST' action='/messages'>
    <textarea rows='5' cols='50' name='message[content]'></textarea>
    <input type='submit' value='Send' class="sendButton">
</form>