@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: burlywood;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  #mailNotice {
    font-size: 12px;
    color: red;
  }

  #deleteWarning {
    font-weight: bolder;
    color: red;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }

  .bookOverviewContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .bookOverviewCard {
    text-decoration: none;
    display: inline-block;
    color:  black;
    border: 2px solid #214778;
    border-radius: 5px;
    padding: 0px 8px 0px 8px;
    margin: 5px;
    background-color: antiquewhite;
  }

  .owned{
    border-color: burlywood;
  }
  .userBookCard {
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
  }

  .navWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #214778;
    justify-content: space-around;
    min-height: 40px;
  }

  .navCard {
    text-decoration: none;
    display: inline-block;
    align-self: center; 
    text-align: center;
    height: 100%;
    color: burlywood;
    text-emphasis: bold;
    font-size: large;
  }

  .navCard:hover{
    color: #cf974f;
    /* background-color: #164683; */
  }

  .conversationLink{
    text-decoration: none;
    color: #214778;
    text-emphasis: bold;
    font-size: large;
  }

  .newMessage{
    display: inline-block;
    text-decoration: none;
    color: #214778;
    text-emphasis: bold;
    font-size: 26px;
  }

  .newMessage:hover{
    color: #226dcd;
  }
  
  .conversationLink:hover{
    color: #226dcd;
  }

  .conversationWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .notifyUnread{
    color: red;
    font-weight: bolder;
    display: inline;
  }

  .messageWrapper{
    border: 1px solid black;
    border-radius: 5px;
  }

  .recievedMessage{
    align-self: flex-start;
    max-width: 80%;
  }

  .sentMessage{
    max-width: 80%;
    align-self: flex-end;
  }

  .newMessageForm{
    float: right;
    border: 1px solid black;
    border-radius: 5px;
  }

  .newMessageForm textarea{
    resize: none;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .sendButton{
   float: right;
  }

  .messageTimestamp{
    text-align: right;
  }

  .bookTitle{
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: larger;
    border-bottom: 2px solid black;
  }
}

