<h1>Update your account:</h1>
<form method='post' action='/users/<%= @user.id %>'>
    <input type='hidden' name='_method' value="PATCH">
    <label>Email:
    <input type='text' value="<%= @user.email%>" name='email'>
    </label>
    <br>
    <label>Mailing address:
    <input type='text' value="<%= @user.mailing_address%>" name='mailing_address'>
    </label>
    <br>
    <input type='submit' value='Update'>
</form>
