<h1>Insert the form to create a new instance of your model.</h1>
<form method='post' action='/users/new'>
    <label>Email address:
        <input type='text' name='email'> 
    </label>
    <label>Username:
        <input type='text' name='username'> 
    </label>
    <label>Mailing address:
        <input type='text' name='mailing_address'> 
    </label>
    <label>Password:
        <input type='text' name='password'> 
    </label>
    <input type='submit' value='Create account'>
</form>