<div class='bookOverviewContainer'>
    <% @books.each do |b|%>
        <div class="bookOverviewCard"> 
        <h3><%= b.title %></h3>
        <h5>By: <%= b.author %></h5>
        <h5>Published: <%= b.published %></h5>
        <a href='/books/<%= b.id %>'>View this book</a>
        </div>
    <% end %>
</div>