<h1>Add a book to your trade-library</h1>
<form method='post' action='/books'>
    <label>Title:
    <input type='text' name='book[title]'>
    </label>
    <br>
    <label>Author:
    <input type='text' name='book[author]'>
    </label>
    <br>
    <label>Year published:
    <input type='number' name='book[published]'>
    </label>
    <br>
    <input type='submit' value="Add book">
</form>
