<h1>Add a book</h1>
<form method='post' action='/books'>
    <label>Author:
    <input type='text' name='book[author]'>
    </label>
    <br>
    <label>Title:
    <input type='text' name='book[title]'>
    </label>
    <br>
    <label>Date published:
    <input type='text' name='book[published]'>
    </label>
    <br>
    <input type='submit' value="Add book">
</form>
