<div class="container">
  <h1>Welcome to BookSwap.</h1>
  <h3>What is BookSwap?</h3>
  <p>Think of BookSwap as a decentralized library. By listing the books in your collection you're willing to part
   with and trading with other users, everyone gains access to more books without having to build a bigger shelf at home.</p>


  <h3>Please <a href='/users/login'>log in</a> or <a href='/users/new'>sign up</a> to continue.</h3>
</div>
